<!DOCTYPE html>
<html>
<head>
    <title>Site Temporarily Unavailable</title>
</head>
<body>
    <h1>503 Service Unavailable</h1>
    <p>We were unable to load {{ laravel_appname}}. Usually this is due to a problem with cookies in your browser. We recommend <a href="http://z.umn.edu/cookiecutter">cleaning your cookies</a> and then trying again.</p>
</body>
</html>