{{ laravel_app_path }}/storage/logs/*log {
    weekly
    missingok
    rotate 14
    compress
    delaycompress
    notifempty
    create 0640 {{ latis_deploy }} {{ latis_deploy }}
    sharedscripts
    postrotate
        systemctl reload php{{php_version}}-php-fpm
    endscript
} 