/var/www/{{appname_short}}/shared/storage/logs/*log {
    su {{laravel_deploy_user}} {{laravel_deploy_user}}
    weekly
    missingok
    rotate 14
    compress
    delaycompress
    notifempty
    copytruncate
} 